{% for event in events %}
    <section class="event-section">
        <h1>{{ event.title }}</h1>
        <div class="video-gallery">
            <iframe width="560" height="315" src="{{ event.video_url }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="photo-gallery">
            {% if event.image1 %}
            <img src="{{ event.image1}}" alt="Previous Event Photo">
            {% endif %}
            {% if event.image2 %}
            <img src="{{ event.image2 }}" alt="Previous Event Photo">
            {% endif %}
        </div>
        <p>{{ event.description }}</p>
    </section>
    {% endfor %}